<% if @watch_list.errors.any? %>
        <h5 class="error"><%= @watch_list.errors.full_messages.to_sentence %></h5>
<% end %>


<%= form_with model: @watch_list, local: true do |f| %>
    <%= f.label :list_name, "Name your watch list!" %>
    <%= f.text_field :list_name, class: @watch_list.errors.any? ? "error-field" : nil %>
        <h4>What stocks would you like to add to your list?</h4>
            <%= fields_for(stocks_url) do |s|%>
                <%= s.label :name, "Company Name:" %>
                <%= s.text_field :name %><br>
                <%= s.label :ticker, "Symbol:" %>
                <%= s.text_field :ticker %><br>
                <%= s.label :value, "$" %>
                <%= s.number_field :value, step: 0.01 %><br>
            <% end%>
        <body class='stocks'>
            <%= f.fields_for :stocks do | builder | %>
            <%= render 'stock_fields', f: builder %>
        <% end %>
        </body>

    <%= link_to_add_association 'Add Another Stock', f, :stocks, class: 'btn btn-primary', data: {association_insertion_node: '.stocks', association_insertion_method: :append} %><br>
    <%= f.submit %><br>
<% end %> 