<%= form_with model: @watch_list, local: true do |f| %>
    
    <% if @watch_list.errors.any? %>
        <h5 class="error"><%= @watch_list.errors.full_messages.to_sentence %></h5>
    <% end %>
    
    <%= f.label :list_name, "Name your watch list!" %>
    <%= f.text_field :list_name, class: @watch_list.errors.any? ? "error-field" : nil %>
        
    <h4>Add Stocks To Watch</h4>
        <div class="field">
            <%= f.fields_for :stocks do | s | %>
                <%= render 'stock_fields', f: s %>
            <% end %>
        </div>

    <div class="links"><%= link_to_add_association 'Add Stock', f, :stocks, class: 'btn btn-primary' %></div><br>

    <div class="actions"><%= f.submit %></div><br>
<% end %> 