<h1>Create Your New Watch List:</h1>

<%= render partial: "watch_lists/form", locals: {watch_list: @watch_list, button_name: "Create Watch List"} %>


<!--
<%= form_for(@watch_list) do |f| %>
  <label>List Title:</label><br>
  <%= f.text_field :list_name %><br>

  <label>Stocks Being Watched..</label><br>
  <%= f.text_area :stock_id %><br>

  <%= f.submit %>
<% end %>
-->