<% @watch_list.stocks.each do |s| %>
    <li><%= s.name %> - <%= s.ticker %>: $<%= s.value%> | <%= link_to "Edit", edit_watch_list_url(@watch_list)%></li>
    <!-- 
    <li><%= button_to "Delete", watch_list_stock_path(s), method: :delete, data: { confirm: "Are you sure?" } %></li>
    -->
<% end %>

<%= button_to "Delete Watch List", @watch_list, method: :delete, data: { confirm: "Are you sure?" } %>