<%= form_with model: @portfolio, local: true do |f| %>

  <% if @portfolio.errors.any? %>
      <h5 class="error"><%= @portfolio.errors.full_messages.to_sentence %></h5>
  <% end %>

  <div class="field">
    <%= f.label :user_id, "#{current_user.email}'s Portfolio" %> <br>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div><br>
  <div class="field">
    <%= f.label :investing %> <br>
    <%= f.number_field :investing, step: 0.01, placeholder: "$" %>
  </div><br>
    <div class="field">
    <%= f.fields_for :stocks do |s|%>
      <%= render 'stock_fields', f: s %>
    <% end %>
  </div><br>

      <div class="links"><%= link_to_add_association 'Add Stock', f, :stocks, class: 'btn btn-primary' %></div><br>

  <div class="actions"><%= f.submit %>
<% end %>
