<%= form_with model: [@watch_list, @portfolio, @stock], local: true do |f| %>
  <% if @stock.errors.any? %>
      <h5 class="error"><%= @stock.errors.full_messages.to_sentence %></h5>
  <% end %>
  <div>
    <%= f.label :watch_list_id %>
    <%= f.number_field :watch_list_id%>
    <%= f.label :portfolio_id %>
    <%= f.number_field :portfolio_id%>
  <div>
    <%= f.label :name %> <br>
    <%= f.text_field :name, placeholder: "Company Name" %>
  </div><br>
  <div>
    <%= f.label :ticker %> <br>
    <%= f.text_field :ticker, placeholder: "AAPL" %>
  </div><br>
  <div>
    <%= f.label :value %> <br>
    <%= f.number_field :value, step: 0.01, placeholder: "$" %>
  </div><br>

  <%= f.submit %>
<% end %>