<div class="container">
<%= link_to "Create a new Stock", new_stock_path, class: 'btn btn-primary'%>
<h1>Here are all the stocks in our system:</h1>
</div>

<% @stocks.each do |stock| %>
    <div class="container">
        <h5>Created at: <%= stock.created_at.strftime("%b %e, %l:%M %p") %></h5>
        <h4><%= stock.name %> - <%= stock.ticker %>: $<%= stock.value%><h4><br>
    </div>
<% end %>

<h2> Here are the elite stocks: </h2>
<% @elite_stocks.each do |s| %>
    <ol><%= s.id %>. <%= s.name %> - <%= s.ticker %> | $<%= s.value %></ol>
<% end %>

<h2> Here are all stocks in a watch list: </h2>
<% @stocks_in_watch_list.each do |s| %>
    <ol><%= s.id %>. <%= s.name %> - <%= s.ticker %> | $<%= s.value %></ol>
<% end %>

<h2> Here are all stocks in a portfolio: </h2>
<% @stocks_in_portfolio.each do |s| %>
    <ol><%= s.id %>. <%= s.name %> - <%= s.ticker %> | $<%= s.value %></ol>
<% end %>