<!DOCTYPE html>
<html>
  <head>
    <title>FlatironRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        
        <li><%= link_to "home", root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "portfolio", portfolio_path %></li>
            <li><%= link_to "watch lists", watch_list_path %></li>
            <li><%= link_to "logout", destroy_user_session_path, method: "delete" %></li>
            
          <% else %>
            <li><%= link_to "login", new_user_session_path %>
            <li><%= link_to "signup", new_user_registration_path %>
          <% end %>

    <%= yield %>
  </body>
</html>
